.main {
    padding: 300px 0;
    background-image: url('');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;

    &__description {
        font-size: 2rem;
    }
}